/* About Section */
.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.about-content {
  max-width: 100%;
  width: 100%;
}

.about h1 {
  font-size: 4rem;
  text-align: center;
  color: var(--color-titulo-seconde);
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.about-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-text {
  flex: 1;
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--color-about-text);
  text-align: justify;
}

.about-extra {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  max-width: 100%;
  border-radius: 10px;
}

/* Efeito de escala em <strong> */
.about-text strong {
  display: inline-block;
  position: relative;
  color: var(--color-titulo-seconde);
  font-weight: 900;
  transition: transform 0.3s ease-in-out;
  cursor: default; /* Remover sensação de texto */
}

.about-text strong:hover {
  transform: scale(1.1); /* Escala ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .about-columns {
      flex-direction: column;
      align-items: center;
  }

  .about h1 {
      font-size: 2.5rem;
  }

  .about-text {
      font-size: 1rem;
  }
}
