html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth; /* Rolagem suave */
  /* Transição suave para todas as propriedades relacionadas a cores */
  transition: background-color 0.4s ease, color 0.4s ease;
}

.app {
  height: 100%;
}

main {
  width: 100%;
}

section {
  min-height: 100vh; /* Cada seção ocupa 100% da viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Transição suave para o background */
  transition: background-color 0.4s ease;
}

/* Alternância de cores para cada seção */
#home {
  background-color: var(--color-blue); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

#about {
  background-color: var(--color-orange); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

#projects {
  background-color: var(--color-blue); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

/* Mantendo as transições suaves para os botões e outros elementos */
button {
  background-color: var(--color-blue);
  color: var(--color-silver);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

button:hover {
  background-color: var(--color-blue-hover);
}

footer {
  background-color: var(--color-gray-one);
  color: var(--color-gray-seconde);
  transition: background-color 0.4s ease, color 0.4s ease;
}

a {
  color: var(--color-gray-seconde);
  transition: color 0.4s ease;
}

nav ul li a {
  color: var(--color-gray-seconde);
  transition: color 0.4s ease;
}

.nav ul li a:hover {
  color: var(--color-silver);
  transition: color 0.4s ease;
}

/* Transição aplicada ao header */
.header {
  color: var(--color-gray-seconde); /* Alterar o texto conforme o tema */
  transition: background-color 0.4s ease, color 0.4s ease; /* Transição suave */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-gray-seconde);
  transition: color 0.4s ease;
  padding: 10px;
  display: flex;
  align-items: center;
}

.theme-toggle:hover {
  color: var(--color-silver);
  transition: color 0.4s ease;
}
