html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth; /* Rolagem suave */
  /* Transição suave para todas as propriedades relacionadas a cores */
  transition: background-color 0.4s ease, color 0.4s ease;
}

.app {
  height: 100%;
}

main {
  width: 100%;
}

section {
  min-height: 100vh; /* Cada seção ocupa 100% da viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Transição suave para o background */
  transition: background-color 0.4s ease;
}

/* Alternância de cores para cada seção */
#home {
  background: var(--color-primary); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

#about {
  background: var(--color-about); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

#projects {
  background: var(--color-primary); /* Alternando conforme o tema */
  transition: background-color 0.4s ease;
}

/* Mantendo as transições suaves para os botões e outros elementos */
button {
  background-color: var(--color-primary);
  color: var(--color-quartenary);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.4s ease, color 0.4s ease;
}

a {
  color: var(--color-seconde);
  transition: color 0.4s ease;
}

nav ul li a {
  color: var(--color-seconde);
  transition: color 0.4s ease;
}