html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth; /* Rolagem suave */
}

.app {
  height: 100%;
}

main {
  width: 100%;
}

section {
  min-height: 100vh; /* Cada seção ocupa 100% da viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#home {
  background-color: #f0f0f0;
}

#about {
  background-color: #e0e0e0;
}

#projects {
  background-color: #d0d0d0;
}
