/* Embla Carousel CSS */
.embla {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%; /* Garante que o carrossel se ajuste à altura disponível */
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
  }
  
  .embla__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; /* Alinha horizontalmente */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  .embla__slide {
    flex: 0 0 250px;
    margin: 0 15px; /* Espaçamento entre os slides */
    padding: 1vh;
    transition: transform 0.3s ease;
  }
  
  .carousel-card {
    background-color: rgba(255, 255, 255, 0.1); /* Leve transparência */
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 350px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    transition: transform 0.3s ease;
    backdrop-filter: blur(15px); /* Adiciona efeito de blur */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Um leve contorno */
  }
  
  .carousel-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15); /* Efeito ao passar o mouse */
  }
  
  .carousel-card img {
    width: 100%;
    height: 250px; /* Mantém a proporção da imagem */
    object-fit: cover;
    border-radius: 8px;
  }
  
  .carousel-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
    font-weight: bold;
    color: var(--color-gray-seconde); /* Cor branca com leve transparência */
  }
  
  .carousel-card p {
    font-size: 1rem;
    color: var(--color-gray-one); /* Cor branca com mais transparência */
    margin: 0;
  }
  
  /* Ajustes para resoluções menores */
@media (max-width: 768px) {
  .embla__slide {
    flex: 0 0 200px;
    margin: 0 10px;
  }

  .carousel-card {
    width: 120px;
    height: 200px;
  }

  .carousel-card h3 {
    font-size: 0.7rem;
  }

  .carousel-card p {
    font-size: 0.6rem;
  }

  .carousel-card img {
    height: 120px;
  }
}

@media (max-width: 480px) {
  .embla__slide {
    flex: 0 0 120px;
    margin: 0 8px;
  }

  .carousel-card {
    width: 100px;
    height: 150px;
  }

  .carousel-card img {
    height: 100px;
  }

  .carousel-card h3 {
    font-size: 0.7rem;
  }

  .carousel-card p {
    font-size: 0.5rem;
  }
}

@media (max-width: 320px) {
  .embla__slide {
    flex: 0 0 140px;
    margin: 0 5px;
  }

  .carousel-card {
    width: 140px;
    height: 220px;
  }

  .carousel-card img {
    height: 80px;
  }

  .carousel-card h3 {
    font-size: 0.9rem;
  }

  .carousel-card p {
    font-size: 0.8rem;
  }
}

@media (max-width: 240px) {
  .embla__slide {
    flex: 0 0 100px;
    margin: 0 3px;
  }

  .carousel-card {
    width: 60px;
    height: 60px;
  }

  .carousel-card img {
    height: 40px;
  }

  .carousel-card h3 {
    font-size: 0.4rem;
  }

  .carousel-card p {
    font-size: 0.2rem;
  }

  }
  