.embla {
  overflow: hidden;
  width: 100%;
  padding: 2rem 0; /* Espaçamento ao redor do carrossel */
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 1rem; /* Espaço entre os slides */
  will-change: transform;
}

.embla__slide {
  flex: 0 0 auto; /* Ajusta a largura do slide */
  height: 45vh; /* Altura fixa dos slides */
  width: 40vh; /* Largura fixa dos slides */
  position: relative;
  transition: transform 0.5s ease; /* Transição suave */
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Garante que o conteúdo fique no topo */
  height: 85%; /* Garante que o card ocupe toda a altura do slide */
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.2); /* Transparência */
  backdrop-filter: blur(10px); /* Efeito de desfoque */
  -webkit-backdrop-filter: blur(10px); /* Suporte para Safari */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-card:hover {
  transform: translateY(-5px); /* Efeito de hover sutil */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel-card-image {
  width: 100%;
  height: 20vh;
  object-fit: cover; /* Ajusta a imagem dentro da área */
  border-radius: 8px;
  margin-bottom: 1rem;
  transition: opacity 0.3s ease;
}

.carousel-card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--color-gray-seconde); /* Título em branco para melhor contraste com o fundo */
  text-align: center;
  white-space: nowrap; /* Impede que o título quebre em várias linhas */
  overflow: hidden;
  text-overflow: ellipsis; /* Adiciona "..." quando o título é muito longo */
}

.carousel-card-description {
  font-size: 1rem;
  color: var(--color-gray-one); /* Descrição em branco para contraste */
  text-align: center;
  overflow: hidden; /* Esconde o texto extra, se necessário */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .embla__slide {
    width: 80%; /* Ajusta para dispositivos móveis */
    height: 400px; /* Mantém a altura consistente */
  }
}
