/* Estilos principais da navegação de pontos */
.dot-navigation {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1000;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0; /* Menu inicialmente oculto */
}

.dot-navigation.visible {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
}

.dot-navigation.hidden {
    opacity: 0;
    transform: translateY(-50%) translateX(50px);
}

/* Estilos para as bolinhas (dots) inativas */
.dot-navigation .dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: var(--color-seconde); /* Cor padrão */
    border: 2px solid rgba(0, 0, 0, 0.05); /* Borda sutil para maior definição */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(255, 255, 255, 0.2); /* Sombra suave para efeito 3D */
}

/* Ao passar o mouse sobre as bolinhas */
.dot-navigation .dot:hover {
    background-color: var(--color-project);
    transform: scale(1.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), inset 0 0 4px rgba(255, 255, 255, 0.15); /* Sombra aumentada com efeito interno */
}

/* Estilos para os dots ativos */
.dot-navigation .dot.active {
    background-color: transparent;
    border: 2px solid var(--color-orange); /* Borda destacada para o estado ativo */
    width: 30px;
    height: 30px;
    transform: scale(1.3);
}

.dot-navigation .dot.active.icon svg {
    font-size: 18px;
    color: var(--color-orange);
    transition: transform 0.3s ease, color 0.3s ease;
}

.dot-navigation .dot.active.icon:hover svg {
    transform: rotate(360deg);
}

.dot-navigation .dot.active:hover {
    transform: scale(1.35);
}
