footer {
    background-color: var(--color-gray-one);
    color: var(--color-gray-seconde);
    padding: 20px;
    text-align: center;
    position: relative;
}

footer p {
    margin: 0;
}

/* Adicionar ícones de redes sociais para um toque moderno */
.footer-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.footer-icons a {
    margin: 0 10px;
    font-size: 20px;
    color: #007BFF;
    transition: color 0.3s;
}

.footer-icons a:hover {
    color: #0056b3;
}

/* Ajustes para telas menores que 400px */
@media only screen and (max-width: 400px) {

    /* Ajustes para o Footer */
    footer {
      padding: 10px;
      font-size: 10px;
      text-align: center;
    }
  
    .footer-icons a {
      font-size: 12px;
      margin: 0 5px;
    }
  }
  
  /* Ajustes para telas menores que 240px */
  @media only screen and (max-width: 240px) {
  
    /* Ajustes para o Footer */
    footer {
      padding: 5px 0;
      font-size: 8px;
      text-align: center;
    }
  
    .footer-icons a {
      font-size: 10px;
      margin: 0 3px;
    }
  
    footer p {
      font-size: 8px;
    }
  }
  