/* Contêiner principal do card */
.graph-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  margin: 20px auto; /* Centraliza o card horizontalmente */
  background-color: var(--color-skills-graph); /* Ajuste conforme a paleta de cores desejada */
  border-radius: 12px; /* Bordas arredondadas */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15); /* Sombra mais perceptível */
  max-width: 800px; /* Limita a largura máxima */
  width: 100%; /* Para ocupar o espaço disponível */
  color: var(--color-card-text); /* Cor do texto dentro do card */
}

/* Título do gráfico */
.graph-title {
  font-size: 2.5rem;
  color: var(--color-skills-title);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Subtítulo do gráfico */
.graph-subtitle {
  font-size: 1.2rem;
  color: var(--color-skills-paragraph);
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
}

/* Gráfico de porcentagem no final */
.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.graph {
  width: 80%;
  background-color: transparent;
}

.bar-list {
  width: 100%;
}

.bar-bar {
  display: flex;
  justify-content: space-between; /* Espaçamento entre título e porcentagem */
  align-items: center;
  margin-bottom: 30px; /* Aumenta o espaço entre as barras */
}

.bar-title {
  font-size: 1.2rem;
  color: var(--color-skills-title);
  flex: 1;
  margin-right: 15px; /* Reduz o espaço entre o nome e a barra */
  font-weight: bold;
}

.progress-bar {
  position: relative;
  width: 100%; /* Largura da barra */
  height: 10px; /* Altura reduzida da barra */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: var(--color-skills-bar);
  border-radius: 10px;
  position: relative;
  transition: width 0.3s ease-in-out; /* Transição suave para o progresso */
}

.percentage {
  position: absolute;
  right: 0;
  top: -20px; /* Coloca a porcentagem próxima ao topo, mas mais sutil */
  font-size: 0.9rem; /* Tamanho da fonte da porcentagem ajustado */
  color: var(--color-skills-title);
}

/* Ajustes para resolução de 1600px ou menos */
@media (max-width: 1600px) {
  .graph-card {
    padding: 35px; /* Reduz o padding para um layout mais compacto */
    max-width: 750px; /* Ajusta a largura máxima */
  }

  .graph-title {
    font-size: 2.3rem; /* Reduz ligeiramente o tamanho do título */
  }

  .graph-subtitle {
    font-size: 1.1rem; /* Ajusta o tamanho do subtítulo */
  }

  .bar-title {
    font-size: 1.1rem; /* Reduz um pouco o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.85rem; /* Reduz um pouco o tamanho da porcentagem */
  }
}

/* Ajustes para resolução de 1450px ou menos */
@media (max-width: 1450px) {
  .graph-card {
    padding: 30px; /* Reduz o padding */
    max-width: 700px; /* Diminui a largura máxima */
  }

  .graph-title {
    font-size: 2rem; /* Reduz o tamanho do título */
  }

  .graph-subtitle {
    font-size: 1rem; /* Reduz o tamanho do subtítulo */
  }

  .bar-title {
    font-size: 1rem; /* Reduz o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.8rem; /* Reduz o tamanho da porcentagem */
  }
}

/* Ajustes para resolução de 1300px ou menos */
@media (max-width: 1300px) {
  .graph-card {
    padding: 25px; /* Diminui o padding para um layout mais compacto */
    max-width: 650px; /* Diminui a largura máxima */
  }

  .graph-title {
    font-size: 1.8rem; /* Ajusta o tamanho do título */
  }

  .graph-subtitle {
    font-size: 0.95rem; /* Reduz o tamanho do subtítulo */
  }

  .bar-title {
    font-size: 0.95rem; /* Ajusta o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.75rem; /* Reduz o tamanho da porcentagem */
  }
}

/* Ajustes para resolução de 1000px ou menos */
@media (max-width: 1000px) {
  .graph-card {
    padding: 20px; /* Reduz ainda mais o padding */
    max-width: 600px; /* Reduz a largura máxima para um layout mais compacto */
  }

  .graph-title {
    font-size: 1.6rem; /* Ajusta o tamanho do título */
  }

  .graph-subtitle {
    font-size: 0.9rem; /* Reduz o tamanho do subtítulo */
  }

  .bar-title {
    font-size: 0.9rem; /* Ajusta o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.7rem; /* Diminui o tamanho da porcentagem */
    top: -15px; /* Ajusta a posição da porcentagem */
  }
}

/* Ajustes para resolução de 500px ou menos */
@media (max-width: 500px) {
  .graph-card {
    padding: 1px; /* Reduz ainda mais o padding */
    max-width: 100%; /* Usa toda a largura disponível */
  }

  .graph-title {
    font-size: 1.4rem; /* Reduz o tamanho do título */
    text-align: center;
  }

  .graph-subtitle {
    font-size: 0.8rem; /* Reduz ainda mais o tamanho do subtítulo */
    text-align: center;
    margin-bottom: 10px;
  }

  .bar-title {
    font-size: 0.8rem; /* Reduz o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.6rem; /* Diminui o tamanho da porcentagem */
    top: -15px; /* Ajusta a posição da porcentagem */
    font-weight: bolder;
  }
}

/* Ajustes para resolução de 400px ou menos */
@media (max-width: 400px) {
  .graph-card {
    padding: 1px; /* Reduz o padding para um layout mais compacto */
    max-width: 100%; /* Usa toda a largura disponível */
  }

  .graph-title {
    font-size: 1.2rem; /* Reduz ainda mais o tamanho do título */
    text-align: center;
  }

  .graph-subtitle {
    font-size: 0.7rem; /* Reduz o tamanho do subtítulo */
    text-align: center;
    margin-bottom: 8px; /* Reduz a margem inferior */
  }

  .bar-title {
    font-size: 0.7rem; /* Reduz ainda mais o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.5rem; /* Reduz o tamanho da porcentagem */
    top: -10px; /* Ajusta a posição da porcentagem */
    font-weight: bold;
  }
}

/* Ajustes para resolução de 330px ou menos */
@media (max-width: 330px) {
  .graph-card {
    padding: 1px; /* Reduz o padding para um layout mais compacto */
    max-width: 100%; /* Usa toda a largura disponível */
  }

  .graph-title {
    font-size: 1rem; /* Reduz o tamanho do título */
    text-align: center;
  }

  .graph-subtitle {
    font-size: 0.6rem; /* Reduz o tamanho do subtítulo */
    text-align: center;
    margin-bottom: 6px; /* Reduz a margem inferior */
  }

  .bar-title {
    font-size: 0.6rem; /* Reduz ainda mais o tamanho da fonte das barras */
  }

  .percentage {
    font-size: 0.45rem; /* Reduz o tamanho da porcentagem */
    top: -10px; /* Ajusta a posição da porcentagem */
    font-weight: bold;
  }
}
