/* Estilos globais do menu */
.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Header ocupa a altura total da tela */
  width: 55px; /* Define a largura do header ao lado esquerdo */
  padding: 15% 0;
  display: flex;
  flex-direction: column; /* Alinha o conteúdo verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  z-index: 1000;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateX(-100%); /* Move o header para fora da tela à esquerda */
}

/* Estilo da logo */
.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    color: var(--color-orange);
    text-align: center;
    writing-mode: vertical-rl; /* Rotaciona o texto verticalmente */
    transform: rotate(180deg); /* Inverte o texto para leitura de cima para baixo */
    margin-bottom: 30px;
}

/* Estilos de navegação */
.nav {
    display: flex;
    flex-direction: column; /* Organiza os itens de navegação verticalmente */
    gap: 20px;
    align-items: center;
}

.nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Organiza os links de navegação em uma coluna */
    align-items: center;
}

.nav ul li {
    margin: 20px 0;
}

.nav ul li a {
    text-decoration: none;
    color: var(--color-orange);
    font-size: 20px;
    transition: color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul li a:hover {
    color: var(--color-header-hover);
    transform: scale(1.1); /* Efeito de leve aumento ao passar o mouse */
}

.nav ul li a svg {
    font-size: 24px; /* Ajusta o tamanho do ícone */
}

/* Botão de alternância de tema */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-orange);
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
    margin-top: auto; /* Empurra o botão para o final do header */
}

.theme-toggle:hover {
    color: var(--color-header-hover);
    transform: rotate(20deg); /* Rotação ao passar o mouse */
}

/* Ajustes para telas menores que 400px */
@media only screen and (max-width: 400px) {
    .header {
      width: 60px;
      padding: 10px 0;
    }

    .nav ul li a {
      font-size: 18px;
    }

    .theme-toggle {
      font-size: 20px;
      padding: 8px;
    }
}
