/* Estilos globais do menu */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-gray-seconde); /* Texto alternado pelo tema */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav ul li a:hover {
    color: var(--color-silver); /* Muda conforme o tema claro/escuro */
}

/* Estilo da logo */
.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

/* Estilos de navegação */
.nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--color-gray-seconde);
    font-size: 20px;
    transition: color 0.3s;
}

/* Botão de alternância de tema */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--color-gray-seconde);
    padding: 10px;
    transition: color 0.3s;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.theme-toggle:hover {
    color: var(--color-silver);
}

/* Ajustes para telas menores que 400px */
@media only screen and (max-width: 400px) {

    /* Ajustes para o Header */
    .header {
      padding: 5px;
      justify-content: center;
    }
  
    .logo h1 {
      font-size: 18px; /* Reduz o tamanho do título */
    }
  
    .nav ul li {
      margin: 0 5px; /* Reduz o espaçamento entre os itens do menu */
    }
  
    .nav ul li a {
      font-size: 14px; /* Reduz o tamanho da fonte dos links do menu */
    }
  
    .theme-toggle {
      font-size: 16px; /* Reduz o tamanho do ícone de alternância de tema */
      padding: 5px; /* Reduz o padding */
      margin-right: 5px; /* Reduz o espaçamento à direita */
    }
  }
  
  /* Ajustes para telas menores que 240px */
  @media only screen and (max-width: 240px) {
  
    /* Ajustes para o Header */
    .header {
      padding: 2px;
      flex-direction: column; /* Empilha o conteúdo verticalmente */
    }
  
    .logo h1 {
      font-size: 16px; /* Tamanho ainda menor para o título */
    }
  
    .nav ul li {
      margin: 2px 0; /* Reduz o espaçamento vertical */
    }
  
    .nav ul li a {
      font-size: 12px; /* Reduz o tamanho da fonte dos links */
    }
  
    .theme-toggle {
      font-size: 12px; /* Reduz ainda mais o tamanho do ícone */
      padding: 3px; /* Padding mais compacto */
      margin-right: 0;
    }
  }
  