/* Estilos globais do menu */
.header {
  position: fixed;
  top: 50%;
  left: 0;
  height: auto;
  width: 55px;
  padding: 15% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  font-weight: 700;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);
}

.header.hidden {
  transform: translate(-100%, -50%);
}

/* Estilos de navegação */
.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav ul li {
  margin: 20px 0;
}

.nav ul li a {
  text-decoration: none;
  color: var(--color-header-icon);
  font-size: 20px;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: var(--color-header-button);
  border-radius: 12px;
}

.nav ul li a:hover {
  color: var(--color-header);
  transform: scale(1.1);
}

/* Estilização dos ícones */
.nav ul li a svg {
  font-size: 24px;
  transition: color 0.3s, filter 0.3s;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.2));
  color: inherit;
}

.nav ul li a:hover svg {
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

/* Botão de alternância de tema */
.theme-toggle {
  background: var(--color-header-button);
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--color-header-icon);
  padding: 10px;
  transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
  margin-top: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.15);
}

.theme-toggle:hover {
  color: var(--color-header);
  transform: rotate(20deg) scale(1.1);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 1600px) {
  .header {
    width: 60px;
    font-size: 18px;
  }
  .nav ul li a {
    font-size: 18px;
    padding: 7px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 9px;
  }
}

@media (max-width: 1450px) {
  .header {
    width: 55px;
    font-size: 17px;
  }
  .nav ul li a {
    font-size: 17px;
    padding: 6px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 8px;
  }
}

@media (max-width: 1280px) {
  .header {
    width: 50px;
    font-size: 16px;
  }
  .nav ul li a {
    font-size: 16px;
    padding: 6px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 7px;
  }
}

@media (max-width: 1100px) {
  .header {
    width: 50px;
    padding: 10% 0;
    font-size: 15px;
  }
  .nav ul li a {
    font-size: 15px;
    padding: 6px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 6px;
  }
}

@media (max-width: 960px) {
  .header {
    width: 48px;
    padding: 8% 0;
    font-size: 14px;
  }
  .nav ul li a {
    font-size: 14px;
    padding: 5px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 6px;
  }
}

@media (max-width: 860px) {
  .header {
    width: 46px;
    padding: 7% 0;
    font-size: 13px;
  }
  .nav ul li a {
    font-size: 13px;
    padding: 5px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 5px;
  }
}

@media (max-width: 780px) {
  .header {
    width: 45px;
    padding: 6% 0;
    font-size: 12px;
  }
  .nav ul li a {
    font-size: 12px;
    padding: 4px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 5px;
  }
}

@media (max-width: 768px) {
  .header {
    width: 44px;
    font-size: 12px;
  }
  .nav ul li a {
    font-size: 12px;
    padding: 4px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 4px;
  }
}

@media (max-width: 560px) {
  .header {
    width: 42px;
    padding: 5% 0;
    font-size: 11px;
  }
  .nav ul li a {
    font-size: 11px;
    padding: 4px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 4px;
  }
}

@media (max-width: 475px) {
  .header {
    width: 40px;
    padding: 4% 0;
    font-size: 10px;
  }
  .nav ul li a {
    font-size: 10px;
    padding: 3px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 3px;
  }
}

@media (max-width: 350px) {
  .header {
    width: 38px;
    padding: 3% 0;
    font-size: 9px;
  }
  .nav ul li a {
    font-size: 9px;
    padding: 3px;
  }
  .theme-toggle {
    font-size: 24px;
    padding: 3px;
  }
}
