/* Estilos globais do menu */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--text-color); /* Texto alternado pelo tema */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.nav ul li a:hover {
    color: var(--primary-color); /* Muda conforme o tema claro/escuro */
}

/* Estilo da logo */
.logo h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

/* Estilos de navegação */
.nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav ul li {
    margin: 0 20px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    transition: color 0.3s;
}

/* Botão de alternância de tema */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    padding: 10px;
    transition: color 0.3s;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.theme-toggle:hover {
    color: var(--primary-color);
}
