.home {
    display: flex;
    min-height: 100vh; /* Garante que a altura da seção seja 100% da viewport */
    justify-content: center; /* Centraliza as colunas horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.column-left {
    flex: 1;
    height: 100vh; /* Garante que as colunas tenham a mesma altura da viewport */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo da coluna de cima para baixo */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: flex-start; /* Alinha o conteúdo à esquerda horizontalmente */
    text-align: left;
    padding-right: 150px;
}

.column-right {
    flex: 1;
    height: 100vh; /* Garante que as colunas tenham a mesma altura da viewport */
    display: flex;
    flex-direction: column; /* Alinha o conteúdo da coluna de cima para baixo */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: flex-end; /* Alinha o conteúdo à direita horizontalmente */
    text-align: right;
    padding-left: 150px;
}

.home h1,
.home p {
    color: var(--color-gray-seconde); /* Texto alternado conforme o tema */
}
