/* Home Section */
.home {
    display: flex;
    min-height: 100vh; /* Garante que a altura da seção seja 100% da viewport */
    justify-content: center;
    align-items: center;
}

.column-left {
    flex: 1;
    height: 100vh; /* Garante que as colunas tenham a mesma altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: left;     /* Centraliza o conteúdo horizontalmente */
    text-align: left;
    padding-right: 50px;
}

.column-right {
    flex: 1;
    height: 100vh; /* Garante que as colunas tenham a mesma altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    align-items: right;     /* Centraliza o conteúdo horizontalmente */
    text-align: right;
    padding-left: 50px;
}

.home h1,
.home p {
    color: var(--text-color); /* Texto alternado conforme o tema */
}
