.home {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    background-color: var(--color-background);
}

.column-right {
    background: linear-gradient(135deg, var(--color-titulo-first-right) 0%, var(--color-titulo-seconde-right) 100%);
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 5% 8%;
    border-radius: 30px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.74);
    transform: translateY(30px);
}

.column-right:hover {
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.5);
}

/* Estilização do Título */
.column-right h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-rose);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

/* Lista de Tópicos */
.column-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilização de Cada Tópico */
.column-right ul li {
    font-size: 1.1rem;
    color: var(--color-text-right);
    font-weight: 600;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* Ícone de Tópico */
.column-right ul li::before {
    content: "\f0e7"; /* Ícone do Font Awesome */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1rem;
    color: var(--color-orange);
    margin-right: 8px;
    display: inline-block;
}

/* Título do Tópico */
.column-right ul li strong {
    font-weight: 700;
    color: var(--color-bold);
    display: inline; /* Exibe o título como texto em linha */
    margin-right: 5px; /* Espaço entre o título e o texto */
}

/* Conteúdo do Tópico */
.column-right ul li span {
    display: block; /* Quebra o texto para a linha de baixo */
    margin-left: 20px; /* Indenta o conteúdo */
    color: var(--color-text-sub);
    word-break: break-word;
    line-height: 1.5;
}

.cta-button-left, .cta-button-right {
    padding: 14px 30px;
    color: var(--color-text);
    background-color: var(--color-button);
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(30px);
}

.cta-button-left:hover, .cta-button-right:hover {
    background-color: var(--color-hover);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35);
}

.column-left {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding-right: 8%;
    cursor: default;
}

.home h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
    color: var(--color-titulo-first);
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    cursor: default;
}

.home p {
    font-size: 1.4rem;
    line-height: 1.75;
    text-align: left;
    margin-bottom: 20px;
    color: var(--color-text);
    max-width: 100%;
    cursor: default;
}

/* Estilos para a imagem flutuante à direita */
.skills-image {
    width: 20%;
    height: auto;
    float: right;
    margin: 0 0 40px 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

/* Efeito de zoom ao passar o mouse na imagem */
.skills-image:hover {
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
}

/* Responsividade para a imagem */
@media (max-width: 768px) {
  .skills-image {
    float: none;
    display: block;
    margin: 20px auto;
    width: 80px;
  }
}

/* Ajuste no layout do texto */
.column-right ul {
    padding-right: 15px;
    margin-right: 40px;
    line-height: 1.8;
}

.column-right li {
    font-weight: 400;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .home h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 1rem;
        max-width: 100%;
    }

    .column-left {
        padding-right: 5%;
    }
}
