/* Home Section */
.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--home-background); /* Variável de cor da seção */
}

.home h1,
.home p {
    color: var(--text-color); /* Texto alternado conforme o tema */
}
