/* src/styles/Home.css
   Estilos profissionais para a página inicial do portfólio,
   com foco em responsividade e interatividade.
*/

.home {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 5% 5% 5%;
  background-color: var(--color-background);
}

/* Coluna Direita */
.column-right {
  background: linear-gradient(
    135deg,
    var(--color-titulo-first-right) 0%,
    var(--color-titulo-seconde-right) 100%
  );
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 5% 8%;
  border-radius: 30px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.74);
}

.column-right h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--color-rose);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/* Lista de tecnologias */
.column-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.column-right ul li {
  font-size: 1rem;
  color: var(--color-text-right);
  font-weight: 600;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}

.column-right ul li::before {
  content: '\f0e7'; /* Ícone do Font Awesome */
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: var(--color-orange);
  margin-right: 8px;
  display: inline-block;
}

.column-right ul li strong {
  font-weight: 700;
  color: var(--color-bold);
  margin-right: 5px;
}

.column-right ul li span {
  display: block;
  margin-left: 20px;
  color: var(--color-text-sub);
  word-break: break-word;
  line-height: 1.5;
}

/* Botões de chamada para ação - Estilo Base */
.cta-button {
  padding: 14px 30px;
  color: var(--color-text);
  background-color: var(--color-button);
  text-transform: uppercase;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px; /* Espaço superior */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25);
  transform: translateY(30px); /* Move o botão para baixo */
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;
}

.cta-button:hover {
  background-color: var(--color-hover);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.35);
}

/* Container unificado para os botões */
.button-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Coluna Esquerda */
.column-left {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding-right: 8%;
  cursor: default;
}

.home h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
  line-height: 1.2;
  color: var(--color-titulo-first);
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
  cursor: default;
}

.home p {
  font-size: 1.4rem;
  line-height: 1.75;
  margin-bottom: 20px;
  color: var(--color-text);
  max-width: 100%;
  cursor: default;
}

/* Estilização da imagem com efeitos */
.skills-image {
  width: 20%;
  height: auto;
  float: right;
  margin: 0 0 40px 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease,
    border 0.4s ease;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.skills-image:hover {
  transform: scale(1.09);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.6);
}

.element {
  will-change: transform, opacity;
}

/* Media Queries para responsividade */

/* Telas até 1770px */
@media (max-width: 1770px) {
  .home {
    flex-direction: column;
    align-items: center;
  }

  .column-left,
  .column-right {
    width: 100%;
  }

  .column-left {
    order: 1;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
  }

  .home h1 {
    font-size: 2.8rem;
    text-align: center;
  }

  .home p {
    font-size: 1.2rem;
    max-width: 1000px;
    text-align: center;
  }

  .cta-button {
    font-size: 1rem;
    padding: 12px 24px;
    border-radius: 30px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  }

  .column-right {
    order: 2;
    background: linear-gradient(
      135deg,
      var(--color-titulo-first-right),
      var(--color-titulo-seconde-right)
    );
    align-items: center;
    text-align: center;
    padding: 4% 6%;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
  }

  .skills-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
  }

  .column-right h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
  }

  .column-right ul {
    text-align: left;
  }

  .column-right ul li {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

/* Telas até 894px */
@media (max-width: 894px) {
  .home {
    padding: 5%;
  }

  .column-left,
  .column-right {
    width: 100%;
    max-width: 600px;
  }

  .column-left {
    order: 1;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  }

  .home h1 {
    font-size: 2.2rem;
  }

  .home p {
    font-size: 1rem;
  }

  .cta-button {
    font-size: 0.9rem;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  }

  .column-right {
    order: 2;
    padding: 5% 5%;
    border-radius: 15px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
  }

  .skills-image {
    width: 100px;
    height: 100px;
  }

  .column-right h2 {
    font-size: 1.8rem;
  }

  .column-right ul li {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
}

/* Telas até 617px */
@media (max-width: 617px) {
  .home {
    padding: 5%;
  }

  .column-left,
  .column-right {
    width: 100%;
    max-width: 500px;
  }

  .column-left {
    order: 1;
    padding: 8px;
    margin-bottom: 25px;
  }

  .home h1 {
    font-size: 1.8rem;
  }

  .home p {
    font-size: 0.9rem;
  }

  /* Ajuste do container dos botões para telas mobile */
  .button-container {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Menor espaçamento entre botões */
    margin-top: 15px; /* Ajuste se quiser menos espaço acima */
  }

  .cta-button {
    font-size: 0.8rem;
    padding: 8px 16px;
    /* Remove o margin-top e o translate para aproximar os botões */
    margin-top: 0;
    transform: none;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  }

  .column-right {
    order: 2;
    padding: 4% 4%;
    border-radius: 15px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
  }

  .skills-image {
    width: 80px;
    height: 80px;
  }

  .column-right h2 {
    font-size: 1.6rem;
  }

  .column-right ul li {
    font-size: 0.8rem;
    margin-bottom: 8px;
  }
}

/* Telas até 443px */
@media (max-width: 443px) {
  .home {
    padding: 5%;
  }

  .column-left,
  .column-right {
    width: 100%;
    max-width: 400px;
  }

  .column-left {
    order: 1;
    padding: 5px;
    margin-bottom: 20px;
  }

  .home h1 {
    font-size: 1.6rem;
  }

  .home p {
    font-size: 0.85rem;
  }

  .button-container {
    gap: 8px; /* Diminui ainda mais o espaço */
  }

  .cta-button {
    font-size: 0.75rem;
    padding: 6px 14px;
    margin-top: 0; /* remove top extra */
    transform: none; /* remove a distância vertical */
    border-radius: 18px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 0; /* se quiser reduzir ainda mais */
  }

  .column-right {
    order: 2;
    padding: 4% 3%;
    border-radius: 12px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }

  .skills-image {
    display: none;
  }

  .column-right h2 {
    font-size: 1.4rem;
  }

  .column-right ul li {
    font-size: 0.75rem;
    margin-bottom: 8px;
  }
}

/* Telas até 377px */
@media (max-width: 377px) {
  .home {
    padding: 2% 4%;
  }

  .column-left,
  .column-right {
    max-width: 350px;
  }

  .column-left {
    order: 1;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .home h1 {
    font-size: 1.4rem;
    margin-bottom: 4px;
  }

  .home p {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }

  .button-container {
    gap: 8px;
    margin-top: 10px;
  }

  .cta-button {
    font-size: 0.7rem;
    padding: 6px 16px;
    margin-top: 0;
    transform: none;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
  }

  .column-right {
    order: 2;
    padding: 3% 3%;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    margin-top: 0;
  }

  .skills-image {
    display: none;
  }

  .column-right h2 {
    font-size: 1.2rem;
    margin-bottom: 4px;
  }

  .column-right ul li {
    font-size: 0.7rem;
    margin-bottom: 4px;
  }
}
