/* ModelNavigator.css */

/* Left Side: Modelo e Botões Laterais */
.left-side {
  position: fixed; /* Fixa o componente no lado esquerdo da tela */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha na extrema esquerda */
  width: 30vw; /* Largura definida para ocupar 20% da viewport */
  height: 50vh; /* Altura para ocupar toda a viewport */
  display: flex;
  flex-direction: column; /* Alinha elementos em coluna */
  justify-content: flex-start; /* Alinhamento dos elementos no topo */
  align-items: center; /* Centraliza os elementos horizontalmente */
  padding: 2% 5%; /* Espaçamento interno */
  box-sizing: border-box; /* Inclui o padding no tamanho total */
  z-index: 10; /* Certifica-se de que o componente fique acima dos outros */
}

/* Modelo 3D */
.model-viewer {
  width: 120%; /* Largura máxima para ocupar todo o espaço */
  height: 70vh; /* Altura definida para o contêiner */
  display: flex;
  justify-content: center; /* Centraliza o modelo */
  align-items: center; /* Centraliza o modelo */
  overflow: hidden; /* Evita transbordamento */
}


/* Container para os botões abaixo do modelo */
.buttons-container {
  width: 100%; /* Ocupa toda a largura do contêiner esquerdo */
  display: flex;
  justify-content: space-between; /* Espaço entre os botões */
  margin-top: 10px; /* Espaçamento superior entre o modelo e os botões */
}

/* Botões de Navegação Laterais */
.nav-button {
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  transform: scale(1.1);
}

.nav-button svg {
  color: var(--color-gray-seconde); /* Define a cor do ícone */
  font-size: 1.5rem; /* Tamanho do ícone */
}

/* Ajustes para resoluções menores */
@media (max-width: 1024px) {
  .left-side {
    width: 30vw; /* Aumenta a largura para 30% da tela */
  }

  .nav-button {
    padding: 8px; /* Reduz o padding */
  }

  .nav-button svg {
    font-size: 1.2rem; /* Reduz o tamanho do ícone */
  }
}

@media (max-width: 768px) {
  .left-side {
    width: 40vw; /* Aumenta a largura para 40% da tela */
  }

  .nav-button {
    padding: 6px; /* Reduz ainda mais o padding */
  }

  .nav-button svg {
    font-size: 1rem; /* Diminui o tamanho do ícone */
  }
}

@media (max-width: 480px) {
  .left-side {
    width: 60vw; /* Aumenta a largura para 60% da tela */
  }

  .nav-button {
    padding: 4px; /* Padding mínimo para dispositivos pequenos */
  }

  .nav-button svg {
    font-size: 0.8rem; /* Reduz ainda mais o tamanho do ícone */
  }
}
