/* Aplicar correção global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Correção global para o corpo */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Container principal */
.model-navigator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

/* Container do modelo 3D */
.model-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vw;
  max-width: 100%;
  height: 18vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Indicador de posição com pontos */
.progress-indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: var(--color-dot-menu);
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: var(--color-dot-menu-active);
  transform: scale(1.35);
}

.dot:hover {
  background-color: var(--color-dot-menu-hover);
  transform: scale(1.35);
}

/* Responsividade */
@media (max-width: 1600px) {
  .model-viewer {
    width: 20vw;
    height: 20vw;
  }
  .progress-indicator {
    gap: 7px;
  }
}

@media (max-width: 1450px) {
  .model-viewer {
    width: 22vw;
    height: 22vw;
  }
  .progress-indicator {
    gap: 6px;
  }
}

@media (max-width: 1280px) {
  .model-viewer {
    width: 24vw;
    height: 24vw;
  }
  .progress-indicator {
    gap: 6px;
  }
}

@media (max-width: 1100px) {
  .model-viewer {
    width: 26vw;
    height: 26vw;
  }
  .progress-indicator {
    gap: 5px;
  }
}

@media (max-width: 960px) {
  .model-viewer {
    width: 28vw;
    height: 28vw;
  }
  .progress-indicator {
    gap: 5px;
  }
  .dot {
    width: 9px;
    height: 9px;
  }
}

@media (max-width: 860px) {
  .model-viewer {
    width: 30vw;
    height: 30vw;
  }
  .progress-indicator {
    gap: 4px;
  }
  .dot {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 780px) {
  .model-viewer {
    width: 32vw;
    height: 32vw;
  }
  .progress-indicator {
    gap: 4px;
  }
  .dot {
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 768px) {
  .model-viewer {
    width: 34vw;
    height: 34vw;
  }
  .progress-indicator {
    gap: 3px;
  }
}

@media (max-width: 560px) {
  .model-viewer {
    width: 40vw;
    height: 40vw;
  }
  .progress-indicator {
    gap: 3px;
  }
  .dot {
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 475px) {
  .model-viewer {
    width: 45vw;
    height: 45vw;
  }
  .progress-indicator {
    gap: 2px;
  }
  .dot {
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 350px) {
  .model-viewer {
    width: 50vw;
    height: 50vw;
  }
  .progress-indicator {
    gap: 2px;
  }
  .dot {
    width: 5px;
    height: 5px;
  }
}
