/* Aplicar correção global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Correção global para o corpo */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Container principal */
.model-navigator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100vw; /* Evita que o contêiner ultrapasse a largura da viewport */
  position: relative;
  flex-direction: column;
  overflow-x: hidden; /* Evita overflow horizontal */
}

/* Container do modelo 3D */
.model-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  max-width: 100%;
  height: 15vw;
  max-height: 100vh;
  position: relative; /* Garante posicionamento absoluto dentro deste contêiner */
  overflow: hidden;
  margin-bottom: 20px;
}

/* Dica de navegação */
.navigation-hint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  max-width: 80%;
  text-align: center;
  z-index: 10;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s ease-in-out forwards;
}

.hint-icon {
  font-size: 1.5rem;
}

/* Animação para aparecer suavemente */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Indicador de posição com pontos */
.progress-indicator {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #ddd;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #333;
}

.dot:hover {
  background-color: #555;
}

/* Responsividade */
@media (max-width: 768px) {
  .model-viewer {
    width: 50vw;
    height: 50vw;
    max-width: 100%; /* Garante que o contêiner não ultrapasse os limites */
  }

  .dot {
    width: 8px;
    height: 8px;
  }
}
