/* Aplicar correção global no body */
body {
  overflow-x: hidden; /* Remove rolagem horizontal */
  margin: 0; /* Remove margem padrão */
}

/* Container principal */
.app-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 40vh;
  padding: 0 3vw;
  box-sizing: border-box;
  margin-bottom: 10vh; /* Espaçamento inferior para o carrossel */
}

/* Estilo para o .left-side que contém o ModelNavigator */
.left-side {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

/* Estilo para o .projects-container */
.projects-container {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1px;
}

/* Título dentro do .projects-container */
.projects-container h1 {
  width: 100%;
  text-align: center;
  margin: 60px 0;
}

/* Parágrafo dentro do .projects-container */
.projects-container p {
  width: 100%;
  text-align: left;
  margin-top: auto;
  font-size: 1rem;
  padding-bottom: 20px;
}

/* Estilo para o .model-navigator-container */
.model-navigator-container {
  display: flex; /* Layout flex para organizar botões e modelo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  width: 100%;
  height: 100%;
  position: relative;
}

/* Container do modelo 3D */
.model-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px; /* Definir largura específica */
  height: 300px; /* Definir altura específica */
  position: relative;
  overflow: hidden; /* Esconde qualquer parte do modelo que exceder o contêiner */
}

/* Ajustes para os botões de navegação */
.nav-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1); /* Tornar um pouco mais opaco */
  border: 2px solid rgba(255, 255, 255, 0.4); /* Borda mais visível */
  width: 50px; /* Tornar mais proporcional */
  height: 50px; /* Altura igual à largura para manter circular */
  border-radius: 50%; /* Manter formato circular */
  cursor: pointer;
  position: absolute;
  z-index: 100;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efeito hover para melhorar visualmente */
.nav-button:hover {
  background-color: rgba(156, 156, 156, 0.5); /* Aumentar opacidade ao passar o mouse */
  transition: all 0.3 ease-in-out;
}

/* Ajustar tamanho do ícone SVG */
.nav-button svg {
  width: 100%; /* Ajustar largura para 50% do botão */
  height: 100%; /* Ajustar altura para 50% do botão */
  transform: scale(4);
  transition: all 0.3s ease-in-out;
}

/* Ajuste do botão de navegação à esquerda */
.nav-left {
  left: -20px; /* Ajustar posicionamento para centralizar em relação ao modelo 3D */
  top: 50%; /* Centralizar verticalmente */
  transform: translateY(120%); /* Corrigir alinhamento vertical */
}

/* Ajuste do botão de navegação à direita */
.nav-right {
  right: -20px; /* Ajustar posicionamento para centralizar em relação ao modelo 3D */
  top: 50%; /* Centralizar verticalmente */
  transform: translateY(120%); /* Corrigir alinhamento vertical */
}

/* Carrossel na parte inferior */
.carousel-container {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  padding: 0 1vw;
  box-sizing: border-box;
}
