/* Layout principal */
.projects-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.timeline-title {
  font-size: 4rem;
  color: var(--color-titulo-first);
  text-align: center;
  margin-bottom: 20px;
}

.timeline-description {
  font-size: 1.2rem;
  color: var(--color-project-text);
  text-align: center;
  margin-bottom: 40px;
}

.header-content {
  text-align: center;
  margin-bottom: 60px; /* Ajuste no espaço do topo */
}

.projects-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1920px;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70vh; /* Reduz a altura mínima de cada item */
  margin-bottom: 50px; /* Reduz o espaçamento entre os projetos */
}

.project-image-container {
  flex: 1;
  perspective: 1000px; /* Habilita perspectiva 3D */
  padding: 0; /* Remove qualquer padding ao redor */
  background-color: transparent; /* Nenhuma cor de fundo visível */
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-style: preserve-3d;
}

.project-image-container:hover {
  transform: rotateY(5deg) rotateX(5deg); /* Adiciona uma rotação 3D suave no hover */
}

.project-image {
  width: 100%;
  max-width: 100vw;
  transform: rotateY(30deg); /* Inicialmente rotacionada */
  filter: brightness(1) drop-shadow(0 4px 8px rgba(255, 255, 255, 0.2)); /* Sombra leve e suave diretamente na imagem */
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  border-radius: 10px; /* Mantém bordas arredondadas na imagem */
}

.project-image-container:hover .project-image {
  transform: rotateY(0); /* Volta para frente ao hover */
  filter: brightness(1.1) drop-shadow(0 10px 20px rgba(255, 255, 255, 0.5)); /* Aumenta o brilho e a sombra no hover */
}

.project-description {
  flex: 1;
  padding-left: 60px;
  color: var(--color-text);
}

.project-description h2 {
  font-size: 2rem;
  color: var(--color-titulo-first);
  margin-bottom: 20px;
}

.project-description p {
  font-size: 1rem;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-titulo-first);
  color: var(--color-text);
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: var(--color-titulo-seconde);
}

/* Título do gráfico */
.graph-title {
  font-size: 2.5rem;
  color: var(--color-titulo-first);
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Subtítulo do gráfico */
.graph-subtitle {
  font-size: 1.2rem;
  color: var(--color-project-text);
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
}

/* Gráfico de porcentagem no final */
.graph-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.graph {
  width: 80%;
  background-color: transparent;
}

.skills-list {
  width: 100%;
}

.skill-bar {
  display: flex;
  justify-content: space-between; /* Espaçamento entre título e porcentagem */
  align-items: center;
  margin-bottom: 30px; /* Aumenta o espaço entre as barras */
}

.skill-title {
  font-size: 1.2rem;
  color: var(--color-titulo-first);
  flex: 1;
  margin-right: 15px; /* Reduz o espaço entre o nome e a barra */
}

.progress-bar {
  position: relative;
  width: 100%; /* Largura da barra */
  height: 10px; /* Altura reduzida da barra */
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color: var(--color-rose);
  border-radius: 10px;
  position: relative;
  transition: width 0.3s ease-in-out; /* Transição suave para o progresso */
}

.percentage {
  position: absolute;
  right: 0;
  top: -20px; /* Coloca a porcentagem próxima ao topo, mas mais sutil */
  font-size: 0.9rem; /* Tamanho da fonte da porcentagem ajustado */
  color: var(--color-project-text);
}
