/* Layout principal */
.projects-wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura */
}

.timeline-title {
  font-size: 4rem;
  color: var(--color-titulo-first);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.timeline-description {
  font-size: 1.2rem;
  color: var(--color-project-text);
  text-align: center;
  margin-bottom: 40px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.project-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}

.project-image-container {
  flex: 1;
  perspective: 1000px;
  padding: 0;
  background-color: transparent;
  transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  transform-style: preserve-3d;
  padding-left: 5%;
}

.project-image-container:hover {
  transform: rotateY(5deg) rotateX(5deg);
}

.project-image {
  width: 90%;
  max-width: 100vw;
  transform: rotateY(30deg);
  filter: brightness(1) drop-shadow(0 4px 40px rgba(255, 255, 255, 0.144));
  transition: transform 0.5s ease-in-out, filter 0.5s ease-in-out;
  border-radius: 10px;
}

.project-image-container:hover .project-image {
  transform: rotateY(0);
  filter: brightness(1.1) drop-shadow(0 4px 60px rgba(255, 255, 255, 0.329));
}

.project-description {
  flex: 1;
  padding-left: 60px;
  color: var(--color-text);
  overflow-wrap: break-word; /* Garante que o texto se adapte ao contêiner */
}

.project-description h2 {
  font-size: 2rem;
  color: var(--color-titulo-first);
  font-weight: bold;
  margin-bottom: 20px;
}

.project-description p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-titulo-first);
  color: var(--color-text);
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.project-link:hover {
  background-color: var(--color-titulo-seconde);
}

/* Adiciona overflow-x hidden ao body */
body {
  overflow-x: hidden;
}
