/* Projects Container */
.projects-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
  width: 100%;
  background-color: var(--projects-background);
  position: relative;
}

/* Right Side: Texto */
.right-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: right; /* Centraliza o restante do conteúdo verticalmente */
  align-items: flex-start;
}

/* Centralizar o título "My Projects" no topo do contêiner */
.projects-container h1 {
  position: absolute;
  top: 10%; /* Fica no topo da viewport do contêiner */
  left: 50%;
  transform: translateX(-50%); /* Centraliza horizontalmente */
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-gray-seconde);
  text-align: center;
  margin: 0;
  z-index: 10; /* Garante que o título fique acima de todos os elementos */
}

/* A descrição permanece no layout padrão */
.project-info p {
  color: var(--color-gray-seconde);
  margin-top: 20px;
}

/* Media Queries para Resoluções Menores */
@media (max-width: 1024px) {
  
  .projects-container h1 {
    font-size: 1.0rem;
    top: 1%; /* Fica no topo da viewport do contêiner */
  }
}

@media (max-width: 768px) {

  .projects-container h1 {
    font-size: 0.7rem;
    top: 1%; /* Fica no topo da viewport do contêiner */
  }
}

@media (max-width: 400px) {
  .projects-container h1 {
    font-size: 0.5rem;
    top: 1%; /* Fica no topo da viewport do contêiner */
  }

}