/* Layout principal */
.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 40px 80px; /* Adiciona espaço horizontal para aproximar os componentes das bordas */
}

/* Título da seção Skills */
.timeline-title {
  font-size: 4.5rem; /* Aumenta o tamanho do título */
  color: var(--color-titulo-first);
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.timeline-description {
  font-size: 1.3rem; /* Aumenta o tamanho da descrição */
  color: var(--color-titulo-seconde);
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Estilo principal para o contêiner de Skills */
.skills-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Move os elementos para as bordas */
  align-items: center;
  gap: 60px; /* Aumenta o espaçamento entre os elementos */
  width: 100%;
  max-width: 1600px; /* Aumenta a largura máxima para usar mais espaço horizontal */
}

/* Contêiner do ModelNavigator (lado esquerdo) */
.model-navigator-container {
  flex: 1;
  max-width: 600px; /* Aumenta a largura máxima dos contêineres individuais */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adiciona algum padding interno */
}

/* Contêiner do Graph (lado direito) */
.graph-container {
  flex: 1;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .skills-wrapper {
    padding: 20px; /* Reduz o padding em telas menores */
  }

  .skills-content {
    flex-direction: column; /* Empilha os elementos verticalmente em telas menores */
    align-items: center;
    gap: 40px; /* Diminui o espaçamento em telas menores */
  }

  .model-navigator-container,
  .graph-container {
    max-width: 100%; /* Ajusta a largura dos contêineres para ocupar o espaço disponível */
  }
}
