/* Design tokens: base */
:root {
  --font-family-base: 'Montserrat', sans-serif;

  --color-brand-primary: #325db8;
  --color-brand-secondary: #578d00;
  --color-brand-accent: #009c7b;
  --color-brand-highlight: #ff6384;
  --color-neutral-900: #252525;
  --color-neutral-100: #fcfcfc;
  --color-status-danger: #ff4c4c;

  --color-primary: #06215c;
  --color-seconde: #578d00;
  --color-seconde-hover: #252525;
  --color-hover: #009c7b;
  --color-button: #325db8;
  --color-text: #b9b9b9;
  --color-text-right: #292929;
  --color-about: #b9b9b9;
  --color-about-text: #2b2a2a;
  --color-titulo-first: #578d00;
  --color-titulo-seconde: #325db8;
  --color-titulo-first-right: #578d00;
  --color-titulo-seconde-right: #325db8;
  --color-bold: #ffffff;
  --color-project: #ff6384;
  --color-header: #009c7b;
  --color-header-hover: #325db8;
  --color-header-button: #325db8;
  --color-header-icon: #ffffff;
  --color-project-text: #ffffff;
  --color-rose: #041741;
  --color-rose-home: #b9b9b9;
  --color-orange: #ff7300;
  --color-rose-inverse: #252525;
  --color-quinary: #fcfcfc;
  --color-skills: #b9b9b9;
  --color-skills-title: #578d00;
  --color-skills-paragraph: #ffffff;
  --color-skills-graph: #00184d;
  --color-skills-bar: #ff6384;
  --color-footer: #1a1919;
  --color-dot-menu: #325db8;
  --color-dot-menu-hover: #009c7b;
  --color-dot-menu-active: #578d00;

  --color-social-icon: #ffffff;
  --color-social-icon-hover: #1da1f2;
  --color-card-text: var(--color-neutral-900);
}

/* Design tokens: dark mode */
[data-theme='dark'] {
  --color-brand-primary: #008cff;
  --color-brand-secondary: #84bb2d;
  --color-brand-accent: #009c7b;
  --color-brand-highlight: #325db8;
  --color-neutral-900: #f1f1f1;
  --color-neutral-100: #2b2b2b;
  --color-status-danger: #ff7b7b;

  --color-primary: #2b2b2b;
  --color-seconde: #747474;
  --color-seconde-hover: #ffffff;
  --color-hover: #008cff;
  --color-button: #009c7b;
  --color-text: #d8d8d8;
  --color-text-right: #f1f1f1;
  --color-about: #383838;
  --color-about-text: #ffffffff;
  --color-titulo-first: #325db8;
  --color-titulo-seconde: #578d00;
  --color-titulo-first-right: #505050;
  --color-titulo-seconde-right: #2b2b2b;
  --color-bold: #325db8;
  --color-project: #325db8;
  --color-header: #008cff;
  --color-header-hover: #009c7b;
  --color-header-button: #ffffff;
  --color-header-icon: #009c7b;
  --color-project-text: #84bb2d;
  --color-rose: #008cff;
  --color-rose-home: #383838;
  --color-orange: #84bb2d;
  --color-rose-inverse: #383838;
  --color-quinary: #325db8;
  --color-skills: #383838;
  --color-skills-title: #008cff;
  --color-skills-paragraph: #aaaaaa;
  --color-skills-graph: #2b2b2b;
  --color-skills-bar: #84bb2d;
  --color-footer: #000000;
  --color-dot-menu: #ffffffff;
  --color-dot-menu-hover: #008cff;
  --color-dot-menu-active: #008cff;

  --color-social-icon: #ffffff;
  --color-social-icon-hover: #84bb2d;
  --color-card-text: var(--color-neutral-900);
}
