/* Adicionando Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/* Definição das cores com gradientes complexos */
:root {
    --color-primary: #06215c; /* Azul base */
    --color-seconde: #578d00; /* texto branco */
    --color-seconde-hover: #252525; /* black hover*/
    --color-hover: #009C7B;
    --color-button: #325db8;
    --color-text: #b9b9b9;
    --color-text-right: #292929;
    --color-about: #b9b9b9;
    --color-about-text: #2b2a2a;
    --color-titulo-first: #578d00;
    --color-titulo-seconde: #325db8;
    --color-titulo-first-right: #578d00;
    --color-titulo-seconde-right: #325db8;
    --color-bold: #ffffff;
    --color-project: #FF6384;
    --color-header: #009C7B;
    --color-header-hover: #325db8;
    --color-project-text: #ffffff;
    --color-rose: #041741;
    --color-rose-home: #b9b9b9;
    --color-orange: #ff7300;
    --color-rose-inverse: #252525;
    --color-quinary: #fcfcfc; /* Cinza escuro, intermediário */
    --color-footer: #244057;
}

/* Modo escuro */
[data-theme="dark"] {
    --color-primary: #2b2b2b; /* Cinza escuro */
    --color-seconde: #747474; /* Preto suave */
    --color-seconde-hover: #ffffff; /* branco hover*/
    --color-hover: #008cff;
    --color-button: #009C7B;
    --color-text: #d8d8d8;
    --color-text-right: #f1f1f1;
    --color-about: #383838;
    --color-about-text: #ffffffff;
    --color-titulo-first: #325db8;
    --color-titulo-seconde: #578d00;
    --color-titulo-first-right: #505050;
    --color-titulo-seconde-right: #2b2b2b;
    --color-bold: #325db8;
    --color-project: #325db8;
    --color-header: #ff7300;
    --color-header-hover: #009C7B;
    --color-project-text: #84bb2d;
    --color-rose: #008cff;
    --color-rose-home: #383838;
    --color-orange: #84bb2d;
    --color-rose-inverse: #383838;
    --color-quinary: #325db8; /* Preto quase absoluto */
    --color-footer: #1a1919;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-seconde);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Tailwind CSS utility classes adicionadas */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Primary
Secondary
Tertiary
Quaternary
Quinary
Senary
Septenary
Octonary
Nonary
Denary

*/