/* Adicionando Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import './styles/tokens.css';

body {
  font-family: var(--font-family-base);
  background-color: var(--color-seconde);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

/* Primary
Secondary
Tertiary
Quaternary
Quinary
Senary
Septenary
Octonary
Nonary
Denary

*/
