/* Modo claro */
:root {
    --primary-color: #312b97; /* Azul Escuro */
    --secondary-color: #E17A34; /* Laranja */
    --accent-color: #FFF2E3; /* Bege Claro */
    --background-color: #ffffff;
    --text-color: #E17A34;
    --footer-background: #f8f9fa;
}

/* Modo escuro */
[data-theme="dark"] {
    --primary-color: #363636; /* Cinza Escuro */
    --secondary-color: #000000; /* Preto */
    --accent-color: #858585; /* Verde Neon */
    --background-color: #363636;
    --text-color: #FFF2E3;
    --footer-background: #333;
}

/* Aplicando as cores nas tags */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-color-hover);
}

footer {
    background-color: var(--footer-background);
    color: var(--text-color);
}
