/* Adicionando Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Modo claro */
:root {
    --color-blue: #C5D3FF;
    --color-gray-one: #a7a7a7;
    --color-silver: #ffffff;
    --color-green: #2ECC71;
    --color-orange: #A3E4BB;
    --color-gray-seconde: #3b3b3b;
}

/* Modo escuro */
[data-theme="dark"] {
    --color-blue: #1c1c1c;
    --color-gray-one: #0b0b0b;
    --color-silver: #ffffff;
    --color-green: #343434;
    --color-purple: #4d4d4d;
    --color-orange: #2e2e2e;
    --color-gray-seconde: #c0c0c0;
}

/* Aplicando a fonte no body */
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-gray-seconde);
    color: var(--text-color);
    transition: --color-gray-seconde 0.3s ease, color 0.3s ease;
}


button {
    background-color: var(--color-gray-seconde);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--color-gray-seconde-hover);
}

footer {
    background-color: var(--color-gray-one);
    color: var(--color-gray-seconde);
}
